[Unit]
Description=Spacestatus server
After=network.target

[Service]
User=spacestatus
WorkingDirectory=/home/spacestatus/spacestatus-server
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/spacestatus/virtualenv3/bin/gunicorn --enable-stdio-inheritance --worker-class uvicorn.workers.UvicornWorker --workers 1 --bind [::]:5000 __init__:app
Restart=no

[Install]
WantedBy=multi-user.target
