connexion[flask,uvicorn]>=3.2.0
Flask>=3.1.0
flask_cors>=5.0.1
Flask_Executor>=1.0.0
Mastodon.py>=2.0.1
matrix_nio>=0.25.2
multidict>=6.1.0 --only-binary=multidict
pydeepmerge>=0.3.3
python-twitter>=3.5
PyYAML>=6.0.2
safer>=5.1.0
yarl>=1.18.3 --only-binary=yarl
Werkzeug>=3.1.3
